.feedback {
    padding: 40px;
}

.feedback__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

    margin-bottom: 12px;
}

.feedback-form__label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    &:last-of-type {
        margin-bottom: 20px;
    }
}

.wrap__feedback-input {
    width: 100%;
    max-width: 370px;
    height: 40px;
    @media screen and (min-width: 1200px) {
        max-width: 448px;
    }
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    color: var(--black);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;

    padding: 11px 12px;
    padding-left: 42px;
    margin-bottom: 10px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
        border-color: var(--accent);
    }
}

.comment {
    width: 100%;
    max-width: 370px;
    height: 120px;
    @media screen and (min-width: 1200px) {
        max-width: 448px;
    }
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    color: var(--black);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    resize: none;
    margin-top: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
        border-color: var(--accent);
    }
    &::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}

.wrap {
    position: relative;
}

.wrap__input-icon {
    position: absolute;
    left: 12px;
    top: 11px;
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .wrap__feedback-input:focus + & {
        fill: var(--accent);
    }
}

.policy {
    margin-bottom: 30px;
}

.policy__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.71;
    }

    letter-spacing: 0.03em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.policy__item {
    width: 16px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--black);
    border-radius: 2px;
    margin-right: 8px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy__icon {
    fill: var(--white);
}

.policy__input:checked + .policy__text {
    .policy__item {
        background-color: var(--accent);
        border: none;
    }
}

.policy__text-link {
    color: var(--accent);
    text-decoration: underline;
}

.feedback-form__btn {
    display: block;
    margin: 0 auto;
}
