.logo {
    margin-right: 88px;
    @media screen and (min-width: 1200px) {
        margin-right: 93px;
    }

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
}

.logo__text {
    color: var(--accent);
}
