.box__title,
.team__title,
.clients__title {
    text-align: center;
    color: var(--black);
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        font-size: 36px;
    }
}
