body {
    font-family: Roboto, sans-serif;
    background-color: #ffffff;
    color: #757575;
    letter-spacing: 0.03em;
}

body.modal-open {
    overflow: hidden;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    @media screen and (min-width: 480px) {
        width: 480px;
    }
    @media screen and (min-width: 768px) {
        width: 768px;
    }
    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

//   страница портфолио  //
.portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
