/* Reset */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
/* ul {margin: 0; padding: 0;}   уже указано */
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
